h1 {
    font-size: 6rem;
    font-family: Roboto Condensed ;
}

#markdown {
    font-size: 2rem;
    font-family: Metropolis;

    h1 {
        font-size: 8rem;
        font-family: Roboto Condensed ;
    }

    h2 {
        font-size: 3.5rem;
        font-family: Roboto Condensed ;
    }

    h3, h4, h5, h6 {
        font-size: 3rem;
        font-family: Roboto Condensed ;
    }

    details {
        font-size: 1.5rem;
        margin-bottom: 1rem;
        summary {
            font-weight: bold;
        }
    }

}