@charset "utf-8";

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

@font-face {
    font-family: "Metropolis";
    src: url("../fonts/Metropolis-Medium.otf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Metropolis";
    src: url("../fonts/Metropolis-Bold.otf");
    font-weight: bold;
    font-style: normal;
}

// If need, change your variables before importing Bulma
@import "~bulma/bulma.sass";

body {
    color: #05052C;
    font-family: 'Roboto Condensed ', sans-serif;
    max-width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
}

html {
    scroll-behavior: smooth;
    font-size: 100%;
}
