@charset "utf-8";

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@font-face {
    font-family: "Metropolis";
    src: url("../fonts/Metropolis-Medium.otf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Metropolis";
    src: url("../fonts/Metropolis-Bold.otf");
    font-weight: bold;
    font-style: normal;
}

// If need, change your variables before importing Bulma
@import "~bulma/bulma.sass";

body {
    color: #07004D;
    font-family: 'Roboto', sans-serif;
}